[submodule "WallyMapSpinzor2"]
	path = WallyMapSpinzor2
	url = https://github.com/eyalzus12/WallyMapSpinzor2.git
[submodule "SwiffCheese"]
	path = SwiffCheese
	url = https://github.com/eyalzus12/SwiffCheese.git
[submodule "BrawlhallaSwz"]
	path = BrawlhallaSwz
	url = https://github.com/eyalzus12/BrawlhallaSwz
[submodule "AbcDisassembler"]
	path = AbcDisassembler
	url = https://github.com/moffel1020/AbcDisassembler
